@import url("modern-normalize.css");

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* CSS reset/Normalise */

:root {
  --background-color: #FAF9F6;
  --text-color: #454545;
  --lighting-button-color:#454545; 
  --background-image: url(../images/marble-background.jpg)

}
body {
  display: flex;
  font-size: calc(0.4rem + 0.7vw);
  min-height: 100vh;  
  color: var(--text-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.dark {
  --background-color:#141414;
  --text-color: #FAF9F6;
  --lighting-button-color: #FAF9F6;
  --logo: invert(../images/logo.png);
  --background-image: url(images/inverted-marble-background.jpg);

}

.logo {
  transition: filter 0.3s ease
}
.inverted {
  filter: invert(1);
}
::selection {
  background: var(--dark);
  color: var(--light);
}
.banner {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  align-items: center;
  padding: clamp(0.5rem, 1.5vw, 1rem);
  height: 100vh;
  max-width: clamp(50px, 25vw, 250px);
  justify-content: space-between;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.top-half {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: grey;
}

.main {
  display: flex;
  overflow: auto;
  padding: 1vw;
  flex:1;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: var(--background-image);
  transition: background-image 0.3s ease;
}


.text-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-inline-size: 66ch;
}

.projects {
  display: flex;
  gap: 1vw;
  overflow-x: scroll;
  scroll-behavior: smooth;

}
.projects::-webkit-scrollbar {
  display: none;
}

.project-preview {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-width: 37vw;
  padding: calc(0.7vw + 1px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.project-preview img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.project-text {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  text-align: center;
}

button {
  background-color: var(--background-color);
  border-radius: 5px;
  color: var(--text-color);
}

button:hover {
  background-image: url(/images/marble-background.jpg);
  box-shadow: 5px;
}

.light-button {
  background-color: var(--lighting-button-color);
}