@import url("modern-normalize.css");

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* CSS reset/Normalise */

body {
  background-image: url(images/marble-background.jpg);
  background-attachment: local;
  display: flex;
  font-size: calc(0.4rem + 0.7vw);
  min-height: 100vh;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  gap: 20px;
  padding: 5px;
  height: 100vh;
  max-width: clamp(50px, 25vw, 250px);
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: grey;
}

.main {
  display: flex;
  overflow: auto;
  padding: 1vw;
  flex:1;
  flex-direction: column;
  justify-content: space-evenly
}

.text-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  align-items: center;
}

.projects {
  display: flex;
  gap: 1vw;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.projects::-webkit-scrollbar {
  display: none;
}

.project-preview {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 37vw;
  padding: calc(0.7vw + 1px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.project-preview img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.project-text {
  background-color: #d8d9cf;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: calc(1rem + 2vw);
}

.main p, h1 {
  color: black;
  align-self: center;;
}

button {
  background-color: #d8d9cf;
  border-radius: 5px;
  color: black;
}

button:hover {
  background-image: url(/images/marble-background.jpg);
  box-shadow: 5px;
}